<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My slides</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="application-name" content="slides-now" />
    <meta name="description" content="My presentation using slides-now" />
    <meta name="author" content="Gleb Bahmutov" />
    <meta name="keywords" content="presentation, slideshow, online, slides, now" />
    <link rel="icon" href="favicon.png" type="image/png">

    <link rel="stylesheet" href="slides-now.css" />
    <style>
    div#md {
    	white-space: pre;
    	padding: 1em;
    }
    </style>
</head>
<body class="classic">
<div id="md">